.user-table {
    width: 100%;
    padding: 20px;
  
    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
  
    &__thead,
    &__tbody,
    &__tr,
    &__th,
    &__td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
  
    &__th {
      background-color: #f2f2f2;
    }
  
    &__view-button {
      background-color: #6c63ff;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
    .user-table__page-button {
      padding: 5px 10px;
      margin: 0 5px;
      cursor: pointer;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      transition: background-color 0.3s ease;
  }
  
  .user-table__page-button.active {
      background-color: #007bff;
      color: white;
  }
  
    &__active-button {
      background-color: #29801d;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  
    &__inactive-button {
      background-color: #f44336;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  
    &__pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      &__page-button {
        border: 1px solid #ddd;
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #fff;
  
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
  