.product-table {
    .product-table-select {
        padding: 10px;
        display: flex;
        justify-content: flex-end;

        .product-table-select-option {
            width: 80px;
            height: 20px;
            border-radius: 4px;
            margin-left: 10px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
        }
        .product-name {
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            max-width: 200px;
        }
        .description{
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            max-width: 400px;
        }
        th {
            background-color: #f4f4f4;
        }

        .action-button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;

            &.view {
                background-color: #007bff;
                color: white;
            }

            &.edit {
                background-color: #ffc107;
                color: white;
            }

            &.delete {
                background-color: #dc3545;
                color: white;
            }
        }
    }

    .messDelete {
        color: rgb(33, 185, 33);
        margin-top: 15px;
    }

    .pagination {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #ddd;
            background-color: #f2f2f2;
            cursor: pointer;

            &.active {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
            }
        }

        span {
            margin: 0 5px;
        }
    }
}
